body {
  box-sizing: border-box;
  margin: 0;
}

.backgroung {
  position: relative;
  height: 100vh;
}
.background:before {
  background: url('./people.jpg') center / cover;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.5;
}

.header {
  background: lightgrey;
  width: 100%;
  min-height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  color: white;
  border: 2px solid magenta;
}

/* .background {
  background-image: url(./people.jpg);
  background-size: 100%;
  background: contain;
  opacity: 0.3;
  height: 100vh;
  border: 2px solid black;
} */

.inner-container {
  width: 620px;
  margin: 0 auto;
  height: 100vh;
  border: 2px solid black;
  background: #fff;
}

.map {
  width: 100%;
  max-width: 620px;
  height: 200px;
  background: pink;
  border: 4px, solid green;
}

.input {
  margin: 0 auto;
  height: 200px;
  background: yellow;
  border: 4px, solid blue;
}
